body{
  font-size: 90px;
  color:white;
  background: url("../../back.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}
.bird{
  background: url("../../bird.png") center center no-repeat;
  background-size: 100% auto;
  height:100px;
  width:200px;
  float:left;
}
.blur {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  height: 100vh;
}

h1{
  font-size: 1em;
  margin: 0;
  display: inline-block;
}
.tableContainer{
  margin-top: 100px;
}
table {
  border-spacing: 10px;
  border-collapse: separate;
  empty-cells: hide;
  font-size: 70px;
  margin: auto;
  background-color: #333;
}
th, td {
  border: 3px solid #BBB;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: orange;
}
.link:hover{
  cursor: url("../../cursor3.png");	
}

tr a td:hover {
  background: rgb(83, 83, 143);
  transform: rotateY(360deg);
  transition: transform 1s;
}


.display-none {
  pointer-events: none;
  cursor: default;
  color: pink;
}

.score {
  float: right;
  margin-right: 100px;
}

form {
  text-align: center;
}

.div-biayte {
  text-align: center;
}

.link-return{
  background-color: powderblue;
  border-radius: 30px;
  font-size: 66px;
  color: rgb(0, 44, 0);
  padding: 20px 90px;
  transition: 0.3s;
}

.link-return:hover{
  background-color: rgb(0, 80, 0);
  color:white;
}

#root{
  padding: 10px 0;
}
.header{
  padding: 0px 50px;
}
